* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    font-family: ronde-b, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 15px;
}


.opening {
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.goToThirdPage {
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tapToNext {
    position: absolute;
    bottom: 5%;
    right: 3%;
}


.roadNow {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;;
}