* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ronde-b, 'DotGothic16',sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

input {
    font-family: ronde-b, 'DotGothic16',sans-serif;
    font-style: normal;
    font-weight: 400;
}

img {
    width: 100%;
}

* ::-webkit-scrollbar {
    display: none;
}



/* ロード中の処理 */

.roadNow {
    background: #121212;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.roadContent {
    text-align: center;
}


.closeRoadNow {
    animation: closeRoad 1s ease-in forwards;
}



@keyframes closeRoad {


    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
    
}


.roadBar {
    width: 200px !important;
    height: 10px; 
    background: white;
    border-radius: 7px;
    margin-top: 15px;
}

.roadBarDimgray {
    width: 200px;
    height: 10px;
    transform: scaleX(0);
    transform-origin: top left;
    background: dimgray;
    position: absolute;
    border-radius: 7px;
    box-sizing: border-box;
    animation: roadOn 4s ease-out forwards;
}

@keyframes roadOn {

    100% {
        transform: scaleX(1);
    }
}




.main {
    background: white;
    border: solid 5px white;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    /* background: #2a2a2a; */
    background-size: cover;
}

.background ::before {
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    background: rgba(0, 0, 0, 0.7)
}


.gameUpper {
    /* 仮の背景 */

    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}

#gameUpperBack1 {
    background-image: url(../backgroundImage/background1.png);
}

#gameUpperBack6 {
    background-image: url(../backgroundImage/background6.png);
}

#gameUpperBack14 {
    background-image: url(../backgroundImage/background14.png);
}

#gameUpperBack21 {
    background-image: url(../backgroundImage/background21.png);
}

#gameUpperBack29 {
    background-image: url(../backgroundImage/background29.png);
}

#gameUpperBack34 {
    background-image: url(../backgroundImage/background34.png);
}

#gameUpperBack40 {
    background-image: url(../backgroundImage/background40.png);
}

#gameUpperBack46 {
    background-image: url(../backgroundImage/background46.png);
}

#gameUpperBack9 {
    background-image: url(../backgroundImage/background9.png);
}


/* 発電所到着 のところ */

.announcePlace {
    position: absolute;
    top: 5px;
    color: white;
    width: 100%;;
    background: rgba(21, 21, 21, 1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    display: none;
    border-radius: 15px 15px 0 0;
}

.announcePlace h1{
    animation: changePlace 2s ease-in forwards;
}

@keyframes changePlace {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.closeChangePlace {
    animation: closeChangePlace 1s forwards;
}

@keyframes closeChangePlace {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.announcePlace ::before {
    content: " -";
    display: inline-block;
}

.announcePlace ::after {
    content: " -";
    display: inline-block;
}


.talkHeader {
    /* background: skyblue; */

    position: fixed;
    height: 50px;
    align-items: center;
    padding: 10px 5%;
    font-size: 30px;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    display: none;
}


/* キャラクター部分 */


.talkCharacter {
    display: flex;
    justify-content: center;
    align-items:flex-end;

    margin: auto;
    margin-top: 30px;
}

.talkCharacter > div {
    width: 45%;
    display: flex;
    align-items:flex-end;
    margin: 0 30px;
}



/* 会話の内容を表示 */


.talkSpace {
    width: 100%;
}

.talkContent {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 90%;
    height: 140px;
    margin: 0 auto;
    border: solid 3px white;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;;
}

.talkerName {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 20px;
    width: 200px;
}

.talkerName > h4::before {
    content: '';
    display: inline-block;
    border: solid 7px transparent;
    border-left: solid 7px white;
}

.talkerContentBox {
    margin-left: 20px;
    display: flex;
    align-items: center;
}





/* した画面の装飾 */


.gameDowner {
    background-image: url(../thirdBakcgrorundImage/tizuHaikei.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wr-downerContent {
    background: #FDF1DD;
    width: 100%;
    border: solid 1px black;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 5%;
    box-sizing: border-box;
}

.downerContent > div {
    width: 100%;
    overflow: hidden;
    /* padding: 0 40px; */
    box-sizing: border-box;
}

.questionSpace {
    display: none;
}

.questionText {
    width: 90%;
    margin: 0 auto;
    padding-top: 35px;
}

.questionText h2 {
    font-size: 25px;
}

.questionText p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;;
}

.questionBox {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    overflow: hidden;
    box-sizing: border-box;
}

.questionImage {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.questionBox img {
    width: 80%;
    height: 60%;
}

.answerBox {
    margin-right: 40px;
    text-align: right;
}

.answerBox > * {
    margin-bottom: 30px;
}


.answerBox h2 {
    margin-top: 15px;
    font-size: 25px;
    text-decoration: underline;
}

.answerBox input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

.answerBox input::placeholder {
    text-align: center;
    font-family: ronde-b, 'DotGothic16',sans-serif;
}


.attackButton {
    text-align: center;
    background: red;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-left: auto;
}




/* 最後の問題 */

.lastQuestion {
    display: none;
}

.questionLeft {
    padding-right: 5%;;
}

.lastQuestionText {
    width: 90%;
    margin: 0 auto;
    padding-top: 35px;
}

.questionLeft h4 {
    font-size: 22px;
    text-decoration: underline;
    margin-top: 40px;;
}

.questionLeft p {
    font-size: 15px;;
}


.lastQuestionRight {
    width: 45%;
}

.triangleTopRight {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 2px black;
    border-right: solid 2px black;
    box-sizing: border-box;
}

.lastQuestionImageInside h4 {
    margin-top: 30px;
    font-size: 20px;;
}

/* .pickLastQuestionHeader {
} */

.pickLastQuestionHeader h2 {
    font-size: 30px;
}

.pickLastQuestionHeader h3 {
    text-decoration: underline;
    text-align: right;
    margin-top: 40px;
}


/* 画像を表示させるところ */

.lastQuestionImage {
    position: absolute;
    top: 0;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(15,15,15,0.7);
    display: none;
}


.lastQuestionImageInside {
    background: rgba(255,255,255,0.6);
    background-size: cover;
    width: 90%;
    border-radius: 15px;
    border: solid 5px #333333;
    padding: 40px 30px;
    box-sizing: border-box;
}


#pickLastQuestionImage {
    width: 100px;
    border-radius: 5px;
    text-align: center;
}


.getLastQuestion {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.getLastQuestion .lastOkButton {
    background: #cc3333;
    color: white;
    width: 30px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border: solid 1px white;
    border-radius: 3px;;
    margin-left: 15px;
}

.displayLastImage {
    max-height: 290px;
    max-width: 90%;
    margin-top: 30px;
}

.displayLastImage img {
    width: auto;
}










/* 答えの解説を入れる */


.answerCommentary {
    position: absolute;
    z-index: 101;
    top: 0;
    background:rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.answerCommentary > div{
    display: none;
    width: 90%;
    border-radius: 20px;
    border: solid 4px white;
    color: white;
    padding: 10% 5%;
    box-sizing: border-box;
    background: #000033;
}

.questionTrue {
    overflow: scroll;
}

.questionTrue h1 {
    color: #DD6060;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.questionTrue h2 {
    font-size: 30px;
    text-decoration: underline;
}

.questionTrue h3 {
    margin-bottom: 30px;
}

.commentaryBox {
    margin-top: 60px;
    align-items: center;
    justify-content: space-between;
}

.questionTrue {
    font-size: 18px;
    line-height: 35px;;
}

.commentaryText {
    height: 300px;
    margin-bottom: 40px;;
    text-align: center;
    overflow: auto;
}

.commentaryText ::before{
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background: white;
    margin: 40px auto;
}

.commentaryText ::after {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background: white;
    margin: 40px auto;
}

.commentaryText p {
    overflow-wrap: break-word;
    text-align: left;
}

.nextTalkCount {
    width: 80px;
    margin-left: auto;
    overflow-wrap: break-word;
}



/* 不正解 */


.questionElse {
    width: 90%;
    border-radius: 20px;
    border: solid 4px white;
    color: white;
    padding: 10% 5%;
    box-sizing: border-box;
    background: #000033;
}

.questionElse h1 {
    color: #DD6060;
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}

.questionElse h2 {
    font-size: 25px;
    text-decoration: underline;
}

.questionElse ul {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 25px;
}

.questionElse li {
    margin-bottom: 30px;
}

.buckAndHint {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}




/* ヒント出すとこ */


.checkViewHint {
    padding: 80px 0;
    text-align: center;
    display: none;
}

.checkViewHint h2 {
    font-size: 40px;
}

.checkHintYesNo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  100px 30%;
    font-size: 30px;
}

.checkViewHint .yes {
    color: #ff3333;
    text-decoration: underline #ff3333;
}

.checkViewHint .no {
    color: blue;
    text-decoration: underline blue;
}



/* ヒントの内容 */

.viewHintSpace {
    display: none;
    padding: 80px 0;
    text-align: center;
}

.viewHintSpace h2 {
    font-size: 40px;
}

.viewHintSpace p {
    text-align: left;
    font-size: 20px;;
    padding:  100px 10%;
}

.hintOkBox {
    width:  200px;;
    height: 50px;
    line-height: 50px;;
    margin: 0 auto;
    background: #ff3333;
    border: solid 3px #f3f3f3;
    border-radius: 10px;
    
}